<!DOCTYPE html>
<html>
<head>
  <title>URL Shortener</title>
</head>
<body>
  <div class="container">
    <h2>API Project: URL Shortener Microservice</h2>
    <form action="api/shorturl/new" method="POST">
      <label for="url_input">Your URL</label>
      <input id="url_input" type="text" name="website">
      <input type="submit" value="POST URL">
    </form>
</body>

<style>
  body {
	font-family: sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #dadaFa;
	text-align: center;
	line-height: 1.4em;
}
</style>


</html>